:root {
  --active: .4;
  --spacer: 16px;
}

*{
    box-sizing: border-box;
}

body{
    position: relative;
	margin: 0 auto;
	padding:0;
}

html{
    font-size: 14px;
}

img{}

input,
textarea{
	width:auto;
	border:1px solid #aaa;
	padding:3px;
}

main{
	padding: var(--spacer);
	padding-top: 60px;
}

/**/
.p-result__box{
	margin: 0 auto;
	padding:0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.p-result__box > li{
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #eee;
}
.p-result__box > li > p{
	padding:0;
	margin: 0;
}
.p-result__item{}
.p-result__id{
    min-width: 40px;
    color: #aaa;
}
.p-result__number{
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}
.c-act .p-result__number .c-n{
    opacity: var(--active);
}
.c-act.c-1 .p-result__number .c-1,
.c-act.c-2 .p-result__number .c-2,
.c-act.c-3 .p-result__number .c-3,
.c-act.c-4 .p-result__number .c-4,
.c-act.c-5 .p-result__number .c-5,
.c-act.c-6 .p-result__number .c-6,
.c-act.c-7 .p-result__number .c-7,
.c-act.c-8 .p-result__number .c-8,
.c-act.c-9 .p-result__number .c-9,
.c-act.c-10 .p-result__number .c-10,
.c-act.c-11 .p-result__number .c-11,
.c-act.c-12 .p-result__number .c-12,
.c-act.c-13 .p-result__number .c-13,
.c-act.c-14 .p-result__number .c-14,
.c-act.c-15 .p-result__number .c-15,
.c-act.c-16 .p-result__number .c-16,
.c-act.c-17 .p-result__number .c-17,
.c-act.c-18 .p-result__number .c-18,
.c-act.c-19 .p-result__number .c-19,
.c-act.c-20 .p-result__number .c-20,
.c-act.c-21 .p-result__number .c-21,
.c-act.c-22 .p-result__number .c-22,
.c-act.c-23 .p-result__number .c-23,
.c-act.c-24 .p-result__number .c-24,
.c-act.c-25 .p-result__number .c-25,
.c-act.c-26 .p-result__number .c-26,
.c-act.c-27 .p-result__number .c-27,
.c-act.c-28 .p-result__number .c-28,
.c-act.c-29 .p-result__number .c-29,
.c-act.c-30 .p-result__number .c-30,
.c-act.c-31 .p-result__number .c-31,
.c-act.c-32 .p-result__number .c-32,
.c-act.c-33 .p-result__number .c-33,
.c-act.c-34 .p-result__number .c-34,
.c-act.c-35 .p-result__number .c-35,
.c-act.c-36 .p-result__number .c-36,
.c-act.c-37 .p-result__number .c-37,
.c-act.c-38 .p-result__number .c-38,
.c-act.c-39 .p-result__number .c-39,
.c-act.c-40 .p-result__number .c-40,
.c-act.c-41 .p-result__number .c-41,
.c-act.c-42 .p-result__number .c-42,
.c-act.c-43 .p-result__number .c-43{
    opacity: initial;
}

.p-result__memo{margin: 0 0 0 auto;}
.c-n{
    background: #ddd;
    padding: 3px 6px;
    line-height: 1;
    border-radius: 8px;
    min-width: 23px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-flow: column;
}
.c-b{font-size: 80%;opacity: .5;}
.c-1{}


/**/
.p-num{
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 0 var(--spacer) 30px;
    display: flex;
    align-items: self-start;
    gap: 8px;
}
.p-num__box{margin: 0 auto;padding:0;display: flex;gap: 4px 5px;list-style: none;/* align-items: center; */width: 100%;justify-content: flex-start;flex-flow: wrap;}
.c-rBox{
	font-size: 80%;
	opacity: .7;
	display: flex;
	gap: 3px;
	justify-content: space-evenly;
	width: 100%;
    flex-flow: column;
}
.p-num__box li{
    width: 100%;
    /* max-width: calc((100% - 18px) / 3); */
    max-width: 29px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    flex-flow: column;
    /* height: 100%; */
}
.p-num__box[data-num="9"] > li{
    display:none;
}
.p-num__box[data-num="9"] .c-0,
.p-num__box[data-num="9"] .c-1,
.p-num__box[data-num="9"] .c-2,
.p-num__box[data-num="9"] .c-3,
.p-num__box[data-num="9"] .c-4,
.p-num__box[data-num="9"] .c-5,
.p-num__box[data-num="9"] .c-6,
.p-num__box[data-num="9"] .c-7,
.p-num__box[data-num="9"] .c-8,
.p-num__box[data-num="9"] .c-9{
    display:flex!important;
}
.p-num__box .c-0{
    display:none;
}
.p-num__box .c-0{
    display:none;
}
.p-num__box[data-num="37"] .c-38,
.p-num__box[data-num="37"] .c-39,
.p-num__box[data-num="37"] .c-40,
.p-num__box[data-num="37"] .c-41,
.p-num__box[data-num="37"] .c-42,
.p-num__box[data-num="37"] .c-43{
    display:none;
}
.p-num__box[data-num="43"] .c-0,
.p-num__box[data-num="37"] .c-0{
    display:none;
}
.p-num__box[data-num="37"] li,
.p-num__box[data-num="43"] li{
    max-width: 30px;
}

.c-btn{
    background: #888;
    color: #fff;
    padding: 3px;
    line-height: 1;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.act{
    opacity: var(--active);
}


/**/
.c-menu{
    width: 24px;
    height: 24px;
    display: inline-flex;
    background: #aaa;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 80%;
    min-width: 24px;
}
.c-menu:before{
    content:"▼";
}
.act .c-menu:before{
    content:"▲";
}
.c-menu__limit{}
.c-menu__limit input{
    width: 80px;
}
.l-nav{padding: var(--spacer);position: absolute;width: 100%;display: flex;}
.l-nav__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}
.l-nav:not(.act) .l-nav__list{
	display:none;
}
.l-nav.act{
	opacity:inherit;
	background: rgba(255,255,255,0.9);
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
}
.l-nav__list li{}
.l-nav__list a{}